<div class="jumbotron jumbotron-fluid landing-hero">
  <div class="container">
    <h1 class="display-4 site-title">Blunder Chess</h1>
    <h3 class="display-6">Chess sets, boards, and more!<h3p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3 class="">Featured Products</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wN.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Berlin Knight</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wK.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Sheltered King</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wP.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Fawn Pawn</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wB.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Ruy Lopez Bishop</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wN.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Tricky Knight</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wK.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Active King</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wP.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Passed Pawn</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wB.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Fianchetto Bishop</h4>
    </div>
    <div class="col-xs-12 col-md-4 shadow p-3 mb-5 bg-white rounded">
      <div class="product product-featured">
        <%= image_tag("wN.svg", class: "img-fluid") %>
      </div>
      <h4 class="text-center">Fork Knight</h4>
    </div>
  </div>

</div>
